.course-title-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.255rem;
}
.title-cards {
  color: blueviolet;
  text-decoration: none;
  border: 0px !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.sider-title {
  position: sticky;
  top: 5rem;
}
.nav {
  border-radius: 5px;
}
.nav-item {
  flex: 1 1 auto;
  text-align: center;
  background: blueviolet;
  color: white;
}
.nav-tabs .nav-link {
  color: white !important;
  border: 2px solid blueviolet !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: blueviolet !important;
  border-radius: none;
}
.card {
  border: none !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
