.top-banner {
  background-color: blueviolet;
  color: white;
}
.active {
  color: blueviolet !important;
}
.btns {
  color: white;
  padding: 10px 20px;
  background-color: blueviolet !important;
  border-radius: 5px;
  border: none;
}
.btns:hover {
  background-color: rgba(137, 43, 226, 0.705) !important;
}
.navigation-area {
  position: sticky;
  top: 0;
  padding: 0px !important;
  z-index: 99 !important;
}
