body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  width: 15%;
  text-align: center !important;
  margin: auto !important;
  border: 2px solid white !important;
}

body::-webkit-scrollbar {
  width: 0.666rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px blueviolet;
}

body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: 1px solid blueviolet;
}
